#QDRANT
QDRANT_URL=http://qdrant:6333
QDRANT_COLLECTION=products_kb

#GOOGLE CLOUD GEMINI
GOOGLE_CLOUD_API_KEY=

#COHERE_RERANK
COHERE_API_KEY=

#POSTGRES
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=smart_pharma

# INTERNAL AUTH
CHATBOT_INTERNAL_JWT_SECRET=chatbot-internal-secret
CHATBOT_INTERNAL_JWT_ISSUER=smart-pharma-backend
CHATBOT_INTERNAL_JWT_AUDIENCE=chatbot-ai

#FE
FE_CUSTOMER_URL=http://localhost:5173
