# SUPER ADMIN CONFIG
SUPER_ADMIN_EMAIL=superadmin@smartpharma.com
SUPER_ADMIN_PASSWORD=superadmin
SUPER_ADMIN_FULL_NAME=Super Admin

# POSTGRES DB
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=

# MONGODB
MONGODB_URI=
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DB=smart_pharma_chat

# JWT CONFIG
JWT_ACCESS_SECRET_KEY=JWT_ACCESS_SECRET_KEY
JWT_REFRESH_SECRET_KEY=JWT_REFRESH_SECRET_KEY
JWT_ACCESS_EXPIRES_MINS=60
JWT_REFRESH_EXPIRES_DAYS=30

# CHATBOT AI INTERNAL CONFIG
CHATBOT_AI_BASE_URL=http://chatbot-ai:8001
CHATBOT_INTERNAL_JWT_SECRET=change_me_shared_internal_secret
CHATBOT_INTERNAL_JWT_ISSUER=smart-pharma-backend
CHATBOT_INTERNAL_JWT_AUDIENCE=chatbot-ai
CHATBOT_INTERNAL_JWT_EXPIRE_SECONDS=60

# RCM SERVICE INTERNAL CONFIG
RCM_SERVICE_BASE_URL=http://rcm-service:8002
RCM_INTERNAL_JWT_SECRET=rcm-engine-internal-super-secret-32bytes
RCM_INTERNAL_JWT_ISSUER=smart-pharma-backend
RCM_INTERNAL_JWT_AUDIENCE=rcm-service
RCM_INTERNAL_JWT_EXPIRE_SECONDS=60

#EMAIL CONFIG
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
EMAIL_USER=your_email
EMAIL_PASSWORD=your_app_password

#RESET PASSWORD CONFIG
JWT_RESET_PASSWORD_SECRET_KEY=JWT_RESET_PASSWORD_SECRET_KEY
JWT_RESET_PASSWORD_EXPIRES_MINS=15
SEND_RESET_PASS_MAIL_API_URL=your_reset_password_mail_api_url/send-reset-pass-mail

#FRONTEND URL
FRONTEND_URL=http://localhost:3000

#AWS S3 CONFIG
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=your_s3_bucket_name

#WEBHOOK SECRET
WEBHOOK_SECRET=webhook_secret

#MEDIA CONFIG
MEDIA_CONTAINER_EXPIRATION_MINS=60

#GHN CONFIG
GHN_TOKEN=
GHN_BASE_URL=https://dev-online-gateway.ghn.vn/shiip/public-api/
GHN_SHOP_ID=

#SEPAY CONFIG
SEPAY_MERCHANT_ID=
SEPAY_SECRET_KEY=
SEPAY_API_TOKEN=
SEPAY_WEBHOOK_URL=backend_url
SEPAY_ACCOUNT_NUMBER=
SEPAY_BANK_NAME=

#OAUTH2 CONFIG
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH2_REDIRECT_URI=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_OAUTH2_REDIRECT_URI=
