KAGGLE_USERNAME=
KAGGLE_KEY=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=smart_pharma
DB_USER=postgres
DB_PASSWORD=password
ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJiYzdiZWRlNi0wODllLTRiY2YtYjZhYy00NDRiOTY0OGRiZDUiLCJleHAiOjE3NzIxODEwMjAsInRva2VuX3R5cGUiOiJBQ0NFU1MiLCJpYXQiOjE3NzIxNzc0MjAsImp0aSI6IjljODE5YmZkLWIxOWEtNGFiYy1iYzUzLTE1MmQzOGQ1YzU5OCIsInNjb3BlIjoiQURNSU4ifQ.l08WYgwkAF-sPdXNpIB4I6IlbA30H4xd6PDsJEky3Es
INVENTORY_WORKERS=32
INVENTORY_TIMEOUT=15
API_BASE=http://localhost:8080
GHN_TOKEN=
DATABASE_URL=