BACKEND_URL=http://localhost:8080
CUSTOMER_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
PHARMACIST_URL=http://localhost:3002
SUPER_ADMIN_EMAIL=superadmin@smartpharma.com
SUPER_ADMIN_PASSWORD=superadmin
